*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



#Menu {
    list-style: none;
    padding: 0;
    background-color: rgb(51, 49, 72);
    transition: background-color .6s;
   
}

#Menu li {
    display: inline;
    
}

#Menu li a {
    color: rgb(225, 222, 222);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    
}

#conteudo {
    margin-top: 20px ;
    float: center;
    
    background-color: rgba(127, 255, 212, 0.101);
    width: 300px;
}


#curso1 {
    margin-top: 20px;
   
    
    width: 300px;
    float: center;
    clear: left;    
}


#curso2 {
    margin-top: 20px;
  
    
    width: 300px;
    float: center;
    clear: left;
        
}

#curso3 {
    margin-top: 20px;
   
    
    width: 300px;
    float: center;
    clear: left;
        
}
